.navbar-brand .navbar-item + .navbar-item {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
    max-height: calc(100vh - 3.25rem);
}

@media screen and (max-width: 768px) {
    .navbar-brand .navbar-item + .navbar-item {
        padding-left: 0;
        padding-right: 0;
    }

    .algolia-autocomplete .ds-dropdown-menu {
        min-width: calc(100vw - 2.75rem) !important;
    }
}

@media screen and (min-width: 1024px) {
    .navbar-brand {
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }

    .navbar-menu {
        -ms-flex-positive: 0;
        -webkit-box-flex: 0;
        flex-grow: 0;
    }
}

#search-input {
    color: #333;
    font-family: inherit;
    font-size: 0.95rem;
    width: 150px;
    border: 1px solid #dbdbdb;
    border-radius: 0.1em;
    line-height: 1.5;
    padding: 0 0.25em;
}

@media screen and (min-width: 769px) {
    #search-input {
        width: 200px;
    }
}

.navbar-logo {
    max-height: 35px;
}

.doc .admonitionblock .icon {
    border-radius: 1rem;
}

i.fa[class^='icon-'], i.fa[class*=' icon-']:before {
    content: "";
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.25rem;
    margin-left: -0.5rem;
}

i.fa.icon-important:before {
    background: no-repeat url("../img/important.svg");
}

i.fa.icon-note:before {
    background: no-repeat url("../img/note.svg");
}

i.fa.icon-tip:before {
    background: no-repeat url("../img/tip.svg");
}

i.fa.icon-caution:before {
    background: no-repeat url("../img/caution.svg");
}

i.fa.icon-warning:before {
    background: no-repeat url("../img/warning.svg");
}

/* PrismJS 1.15.0 */

code[class*="language-"],
pre[class*="language-"] {
    color: black;
    background: none;
    text-shadow: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    background: #b3d4fc;
}

/* Code blocks */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #9a6e3a;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}

.token.function,
.token.class-name {
    color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.command {
    color: #363636;
    font-weight: 600;
}

.token.verb-get {
    color: white;
    border-radius: 0.25rem;
    padding: 0.1rem 0.25rem;
    background-color: hsl(204, 86%, 53%);
    font-weight: 600;
}

.token.verb-post {
    color: white;
    border-radius: 0.25rem;
    padding: 0.1rem 0.25rem;
    background-color: hsl(348, 100%, 61%);
    font-weight: 600;
}

.token.host {
    color: #616161;
}

.highlight {
    position: relative;
    margin-bottom: 1rem;
}

pre:not(:last-child) {
    margin-bottom: 0
}

.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted {
    color: hsl(348, 100%, 61%)
}

pre[data-line] {
    position: relative;
    padding: 1em 0 1em 3em;
}

.line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em; /* Same as .prism’s padding-top */

    background: hsla(24, 20%, 50%, .08);
    background: linear-gradient(to right, hsla(24, 20%, 50%, .1) 70%, hsla(24, 20%, 50%, 0));

    pointer-events: none;

    line-height: inherit;
    white-space: pre;
}

.line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em;
}

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
    content: none;
}

.doc .conum[data-value] {
    border: 1px solid #9b9693;
    background-color: #9b9693;
    color: white;
    width: 1rem;
    height: 1rem;
}

/* copy button */
.doc .listingblock > .content {
    position: relative;
}

.doc .listingblock > .content > button.bd-copy {
    position: absolute;
    z-index: 1;
    right: 0.25em;
}

button.bd-copy {
    border-radius: 2px;
    font-size: .75rem;
    background: #fff 0 0;
    color: #212121;
    cursor: pointer;
    outline: 0;
    position: absolute;
    right: .25rem;
    top: .25rem;
    border: 1px none;
    padding: 0 .75em;
    text-align: center;
    white-space: nowrap;
    align-items: center;
    box-shadow: none;
    display: inline-flex;
    height: 2.25em;
    line-height: 1.5;
    vertical-align: top;
}

button.bd-copy > svg {
    height: 1rem;
    margin-right: .25rem;
}

.doc .listingblock:hover code[data-lang]:before {
    display: none;
}

.doc pre:not(.highlight) {
    padding-right: 5em;
}

/* tooltips */
.tooltipped {
    position: relative
}

.tooltipped::after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: .5em .75em;
    font: normal normal 11px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: subpixel-antialiased;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: #0a0a0a;
    border-radius: 3px;
    opacity: 0
}

.tooltipped::before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: #0a0a0a;
    pointer-events: none;
    content: "";
    border: 6px solid transparent;
    opacity: 0
}

@-webkit-keyframes tooltip-appear {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes tooltip-appear {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.tooltipped:active::after, .tooltipped:active::before, .tooltipped:focus::after, .tooltipped:focus::before, .tooltipped:hover::after, .tooltipped:hover::before {
    display: inline-block;
    text-decoration: none;
    -webkit-animation-name: tooltip-appear;
    animation-name: tooltip-appear;
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

.tooltipped-no-delay:active::after, .tooltipped-no-delay:active::before, .tooltipped-no-delay:focus::after, .tooltipped-no-delay:focus::before, .tooltipped-no-delay:hover::after, .tooltipped-no-delay:hover::before {
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}


.tooltipped-s::after {
    top: 100%;
    right: 50%;
    margin-top: 6px
}

.tooltipped-s::before {
    top: auto;
    right: 50%;
    bottom: -7px;
    margin-right: -6px;
    border-bottom-color: #0a0a0a
}

.tooltipped-s::after {
    -webkit-transform: translateX(50%);
    transform: translateX(50%)
}
